/* =============
    Newsletter
============= */

#newsletter{

    p{
        //padding-bottom: 20px;
    }

    form{
        margin-top: 20px;
        padding: 3px;
        background-color: black;
        display: inline-block;
        border-radius: 3px;
        border: solid 3px grey;

        input{
            border: none;
            background-color: black;
        }
    }
}