/* =============
    Newsletter
============= */

#newsletter{

    form{
        padding: 9px;
        background-color: black;
        display: inline-block;
        border-radius: 6px;

        input{
            border: none;
        }
    }
}