/* =============
    Footer
============= */

footer{

    h2{
        color: var(--white);
        margin-bottom: 20px;
      }

      p{
         color: var(--grey);
      }




    #footer-top{
        background-color: var(--black);
        padding: 80px 0;
        



        form{
            padding: 9px;
            background-color: var(--black);
            // just for week 4 demo
            display: inline-block;
            border-radius: 6px;

            input{
                border: none;
            }


        }

    
     ul{
        li{
            a{
                //display:inline-block; width:60px;
            }
        }
     }
    
         
    }

    #footer-bottom{
        background-color: var(--black);
        padding-bottom: 35px;
        text-align: center;

    }

           

}