/* =============
    Header
============= */

header{
    background-color: var(--purple);
    padding: 15px;
    margin-top: 40px;

    display: grid;
    grid-template-columns: 30% auto;

    #logo-container{
        display: flex;
        align-items: center;

    }

    //nav{

    //}

}
    
