/* =============
    Header
============= */

header{
    //padding: 5px 10px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: 
    "logo burger"
    "nav nav"
    "signIn signIn";
    height: 100%;


    @include md{
        grid-template-columns: 40% 50% auto;
        grid-template-areas: 
        "logo signIn burger"
        "nav nav nav";
    }
   
    @include xl{
        grid-template-columns: 25% auto 40%;
        grid-template-areas:
        "logo nav SignIn";
    }

}



#logo-container{
    //border: 1px solid red;
    display: flex;
    align-items: center;
    grid-area: logo;
    padding: 24px 0 0px 24px;
    height: 100%;
    box-sizing: border-box;
}

#burger-container{
    //border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: burger;
    padding-top: 24px;
    box-sizing: border-box;

    @include xl{
        display: none;
    }

}

#sign-in-up-buttons{
    // border: 1px solid red;
    list-style-type: none;
    // grid-area: button;
    display: none;
    grid-area: signIn;

    padding: 21px 24px;

    @include md{
        display: flex;
        justify-content: flex-end;
        padding: 24px 0 0;
        align-items: center;
        height: 100%;
        box-sizing: border-box;
    }

    @include xl{
        padding-right: 24px;
    }

    button{
        margin-left: 16px;
    }

}


#nav{
    grid-area: nav;

    //border: 1px solid red;

}
