/* =============
    Header
============= */

header{
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 90% auto;
    grid-template-areas: 
    "logo burger"
    "nav nav";


    @include md{
        grid-template-columns: 50% auto 4%;
    }
   
    @include xl{
        grid-template-columns: 25% auto;
        grid-template-areas:
        "logo nav";
    }
}



#logo-container{
    //border: 1px solid red;
    display: flex;
    align-items: center;
    grid-area: logo;


}

#burger-container{
    //border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: burger;

    @include xl{
        display: none;
    }

}


nav{
    grid-area: nav;

    //border: 1px solid red;

}
