/* =============
    Buttons
============= */
button{
    border: none;
    cursor: pointer;
}

.blue-btn{
    background-color: var(--blue);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 6px;
}

.blue-btn:hover{
    background-color: var(--green);
    color: var(--white);
}

.demoblue-btn{
    background-color: var(--blue);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 6px;
}