/* =============
    Navigation
============= */

.showMainNav{
    display: block !important;
    display: block;
}

a{
    text-decoration: none;
}

#double-btn{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    //float: right;
    position: relative;
    list-style-type:none;
    //margin-left: 25px;

    ul{
        li{
            padding-left: 25px;
        }
    }
    
}




#mainNav{
    display: none;
    margin-top: 12px;
    padding-top: 20px;
    border-top: 1px solid var(--gray);
    list-style-type:none;


    @include xl{
        border: none;
        margin-top: 0;
        padding-top: 0;
        display: block;
    }



    ul{
        display: flex;
        flex-direction: column;
        //align-items: end;
        text-decoration: none;
        text-align: right;
        padding: 5px;
        list-style-type:none;


        @include xl{
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
      

        li{
            border-bottom: 1px solid grey;
            height: 100%;
            list-style-type:none;
            //text-decoration: none;
            //font-weight: 600;
            //border: 1px solid red;

            @include xl{
                border: none;
                height: 100%;
                box-sizing: border-box;
                text-decoration: none;

                
            }

            a:link, a:visited{
                padding: 10px;
                //border: 1px solid red;
                display: inline-block;
                margin-bottom: 12px;
                margin-top: 12px;
                color: var(--grey);
                transition: 0.25s;

                    @include xl{
                        margin-bottom: 0px;
                    }
            }
        }

            // a:hover, a:active{
            //     color:aquamarine;

            // }

            // .signin-btn{
            //     background-color: var(--darkblue);
            //     color: var(--white);
            //     border-radius: 8px;
            //     padding: 16px 24px;
            //     //font-weight: 600;
            //     //width: 17%;
            //     //text-align: center;
            //     //vertical-align: middle;
            //     //display: inline-block;
            //     margin-right: 10px;
            //     text-decoration: none;

            //    margin-left: 270px;
            // }

            // .signin-btn:hover{
            //     background-color: var(--gray);
            // }

            // .signup-btn{
            //     background-color: var(--white);
            //     color: var(--darkblue);
            //     border-radius: 8px;
            //     padding: 16px 24px;
            //     //font-weight: 600;
            //     border: 1px solid var(--darkblue);
            //     //display: inline-block;
            //     text-decoration: none;
            // }

            // .signup-btn:hover{
            //     background-color: var(--gray);
            //  }
    }
}