/* =============
    Base
============= */

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
        list-style-type:none;
    }
}

#validation-logo{
    text-align: center;
    margin-top: 70px;
}
